.event {
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 18px;
    height: 18px;
    background-color: white;    
    cursor: pointer;
    border: 1px solid red;
}

/* .event > .inner {
    width: 18px;
    height: 18px;
    
} */